// ==========================================================================
// Hero
// ==========================================================================


.hero {
	height: 330px;
	background: url('#{$path--rel}/lee-profile-2.jpg');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}

